@import '../../config.all';
main {
  font-family: montserrat;
}
.card {
  margin-top: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid $icon-grey-light;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  @include breakpoint($tablet-up) {
    margin-top: 36px;
  }
}
.card-main--container {
  position: relative;
}
@include breakpoint($tablet-up) {
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .card-image {
      transform: scale(1.04);
      transition: transform 0.15s;
      img {
        height: 147px;
        transition: height 0.15s;
      }
    }
    .card-bottom--container {
      opacity: 1;
      height: auto;
      transition: height 0.15s;
    }
  }
}

.card-image {
  margin-bottom: 10px;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
.card-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: $grey;
  @include line-clamp(1);
  word-break: break-all;
}
.card-department,
.card-date,
.card-location {
  font-size: 14px;
  line-height: 15px;
  color: $grey-light;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.card-department--text,
.card-location--text {
  @include line-clamp(1);
  word-break: break-all;
}
.card-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.card-price {
  position: absolute;
  z-index: 2;
  top: 11px;
  right: 11px;
  padding: 8px;
  color: $white;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  border: 1px solid $white;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.3);
}
.l-30-padded {
  padding: 0 30px;
  margin-bottom: 16px;
}
.views-row {
  @include breakpoint($tablet-up) {
    &:not(:last-of-type) {
      margin-right: 9px;
    }
  }
}
.card-bottom--container {
  @include breakpoint($mobile) {
    transition: opacity 1s ease-out;
    opacity: 1;
    height: auto;
  }
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-top: 1px solid $icon-grey-light;
  > a:not(:last-of-type) {
    border-right: 1px solid $icon-grey-light;
  }
}
.card-bottom--item {
  padding: 12px 16px;
  @include breakpoint($tablet) {
    padding: 12px 10px;
  }
  @include breakpoint($desktop) {
    padding: 12px 16px;
  }
  img {
    width: 18px;
    height: 18px;
  }
  &:hover {
    svg path {
      fill: $arrow-blue;
    }
  }
}
.card-details-link {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  color: $arrow-blue;
  margin: 0 auto;
}
.featured-mark {
  position: relative;
}
.featured-mark--triangle {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1;
}
.featured-mark--star {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
}

.fallback-item {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  svg {
    margin-bottom: 8px;
  }
}
