<div{{ attributes.addClass("card-location l-30-padded") }}>
  <img class="card-icon" src="/themes/custom/drupaltaskspecbee/images/svg/location.svg" alt="download icon"/>
  <span class="card-location--text">{{ items.0.content }}</span>
</div>
