<div{{ attributes.addClass("card-date l-30-padded") }}>
  <img class="card-icon" src="/themes/custom/drupaltaskspecbee/images/svg/calender.svg" alt="download icon"/>
  <span>{{ items.0.content }}</span>
</div>
