<div{{ attributes.addClass("card-department l-30-padded") }}>
  <img class="card-icon" src="/themes/custom/drupaltaskspecbee/images/svg/tags.svg" alt="download icon"/>
  <span class="card-department--text">{{ items.0.content }}</span>
</div>
