// Define colors scss variables here.
$heading-blue: #017fd5;
$grey: #424a55;
$grey-light: #7c8993;
$icon-grey-light: #ececec;
$icon-grey: #ced0d4;
$green-primary: #12d16f;
$white: #ffffff;
$black: #000000;
$arrow-grey: #9ba5ac;
$arrow-blue: #0b80ce;
